# Variables en Python
Este cuaderno explica el uso de **variables en Python** con ejemplos y ejercicios.

## 1Ô∏è‚É£ ¬øQu√© es una variable?
En Python, las variables se usan para **almacenar datos** que pueden referenciarse y manipularse durante la ejecuci√≥n.
Una variable es un **nombre asignado a un valor**. No es necesario declarar el tipo; Python lo infiere.

In [ ]:
# Ejemplo b√°sico (variables en ingl√©s, comentarios en espa√±ol)
x = 5  # entero
name = "Samantha"  # cadena

print(x)      # 5
print(name)   # Samantha

### Ejercicio 1
Crea tres variables llamadas `first_name`, `age` y `city`, as√≠gnales valores y mu√©stralos con `print()`.

In [2]:
first_name = 'PEPE'
age = 9874
city = 'asd'
print(first_name, age, city)

PEPE 9874 asd

## 2Ô∏è‚É£ Reglas para nombrar variables
- Letras, d√≠gitos y guion bajo `_`.
- No pueden empezar con un d√≠gito.
- Sensibles a may√∫sculas/min√∫sculas.
- No usar palabras clave de Python.

In [ ]:
# Ejemplos v√°lidos
age = 21
_colour = "lilac"
total_score = 90

# Ejemplos inv√°lidos (no ejecutar)
# 1name = "Error"
# class = 10
# user-name = "Doe"

21 lilac 90

### Ejercicio 2
Escribe cinco nombres de variables para un programa de notas de alumnos, cumpliendo las reglas de Python.

In [22]:
color = 'black'
numero_color = 48852
_pepe = 'no es pepe'
cHulx = 'chula no te enchules de mi'

print(color, _pepe, cHulx, numero_color)



#1st_value = 1 # no es valido porque tienen un numero como nombre de variable

#total-sum = 1 # no es valido porque tiene un - dentro del nombre de la variable

_cache = 8 # si es valido

userName = 4 # si es valido

#for = 1 # no es valido ya que for es un forma de bucles y no puede servir como nombre de variable

score2 = 2 #si es valido

print(userName, _cache, score2)

black no es pepe chula no te enchules de mi 48852
4 8 2

**Naming**
    
Indica si los siguientes nombres ser√≠an v√°lidos en Python. Si no lo son, explica por qu√© y prop√≥n una alternativa v√°lida.
```
1st_value

total-sum

_cache

userName

for

score2
```


#1st_value = 1 # no es valido porque tienen un numero como nombre de variable

#total-sum = 1 # no es valido porque tiene un - dentro del nombre de la variable

_cache = 8 # si es valido

userName = 4 # si es valido

#for = 1 # no es valido ya que for es un forma de bucles y no puede servir como nombre de variable

score2 = 2 #si es valido

print(userName, _cache, score2)

## 3Ô∏è‚É£ Asignaci√≥n de valores y tipado din√°mico
Puedes asignar valores con `=` y usar tipado din√°mico (una misma variable puede referenciar objetos de distintos tipos a lo largo del programa).

In [ ]:
# Asignaci√≥n b√°sica y tipado din√°mico
score = 10  # entero
print(type(score))  # mostrar tipo
score = "ten"  # ahora cadena
print(type(score))

### Ejercicio 3
Declara una variable `score` con valor `10`. Reas√≠gnala con el texto `"ten"` y muestra su tipo despu√©s de cada cambio usando `type()`.

In [24]:
score = 10
print(type(score))
score = 'ten'
print(type(score))

<class 'int'>
<class 'str'>

## 4Ô∏è‚É£ Asignaciones m√∫ltiples
- Mismo valor en varias variables.
- Valores diferentes en una sola l√≠nea.
- Intercambio (swap) sin variable temporal.

In [28]:
# Mismo valor para varias variables
a = b = c = 100
print(a, b, c)

# Valores diferentes en una sola l√≠nea
country, code, european = "Spain", 34, True
print(country, code, european)

# Swap sin variable temporal
left, right = 1, 2
left, right = right, left
print(left, right)

100 100 100
Spain 34 True
2 1

### Ejercicio 4
En una sola l√≠nea, asigna `country = "Spain"`, `code = 34`, `european = True`. Imprime los valores.

In [26]:
country, code, european = 'Spain', 56, False
print(country, code, european)

Spain 56 False

## 5Ô∏è‚É£ Conversi√≥n de tipos (Type casting)
Usa `int()`, `float()` y `str()` para convertir valores entre tipos b√°sicos.

In [ ]:
# Ejemplos de casting
s = "10"  # cadena
n = int(s)  # a entero
cnt = 5
f = float(cnt)  # a flotante
age = 25
s2 = str(age)   # a cadena

print(n)   # 10
print(f)   # 5.0
print(s2)  # 25

### Ejercicio 5
Convierte la cadena `"25"` a entero y luego a flotante. Imprime el resultado en cada paso.

In [33]:
number = 25
print(type(number))
print(number)
number = str(25)
print(type(number))
print(number + 'number')
number = float(25)
print(type(number))
print(number)

<class 'int'>
25
<class 'str'>
25number
<class 'float'>
25.0

## 6Ô∏è‚É£ Obtener el tipo de una variable
La funci√≥n `type()` devuelve el tipo del objeto pasado.

In [ ]:
# Ejemplo de type()
n = 42
f = 3.14
s = "Hello, World!"
li = [1, 2, 3]
d = {"key": "value"}
flag = True

print(type(n))
print(type(f))
print(type(s))
print(type(li))
print(type(d))
print(type(flag))

### Ejercicio 6
Declara variables de los tipos: `int`, `float`, `str`, `list`, `dict` y `bool`. Usa `type()` para imprimir el tipo de cada una.

In [37]:
x = 5
x0 = 5.0
x1 = '5'
x2 = [5, 5 ,5]
x3 = {'edad': 5}
x4 = 5 == 5

print(type(x))
print(type(x0))
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

## 7Ô∏è‚É£ Referencia a objetos en Python
Los nombres referencian objetos. Si dos nombres apuntan al mismo objeto **mutable**, un cambio ser√° visible desde ambos.

In [38]:
# Ejemplo con lista (mutable)
items = [1, 2]          # lista
alias = items           # misma referencia
alias.append(3)         # mutamos el objeto
print(items)            # [1, 2, 3]

# Ejemplo con enteros (inmutables)
a = 10
b = a
b = b + 1               # crea un nuevo entero
print(a, b)             # 10 11

[1, 2, 3]
10 11

### Ejercicio 7
Crea una lista con dos n√∫meros y as√≠gnala a dos variables diferentes. Modifica la lista desde una de ellas y observa el resultado en la otra.

In [10]:
x =[1, 2, 3]
a = x
y = a + [4]
print(y)

[1, 2, 3, 4]

## 8Ô∏è‚É£ Eliminar variables con `del`
`del nombre` elimina el **nombre** del espacio de nombres. Acceder despu√©s al nombre produce `NameError`.

In [18]:
# Ejemplo de del
temp = 99
print(temp)
del temp
# print(temp)  # provocar√≠a NameError

99

### Ejercicio 8
Crea una variable `temp`, impr√≠mela, elim√≠nala con `del` e intenta imprimirla de nuevo (comenta el error que se produce).

In [17]:
# Escribe aqu√≠ tu c√≥digo
temp = 100
x = temp
y = x - 1
print(temp, y)
del temp
print(temp)

100 99

NameError: name 'temp' is not defined

## 9Ô∏è‚É£ Ejemplos pr√°cticos

In [19]:
# Swap de variables
left, right = 5, 10
left, right = right, left
print(left, right)

# Longitud de una cadena asignada a una variable
word = "Python"
length = len(word)
print("Length of the word:", length)

10 5
Length of the word: 6

### Ejercicio 9
Crea dos variables con n√∫meros y realiza un swap para intercambiar sus valores. Imprime el resultado.

In [24]:
# Escribe aqu√≠ tu c√≥digo
x, y = 255, 552
x, y = y, x
print('y:',x, 'x:',y)

y: 552 x: 255

## üîü Ejemplos adicionales

In [31]:
# Tipado din√°mico
value = 3
print(type(value))
value = "three"
print(type(value))

# Referencias compartidas
letters = ["a", "b"]
alias_letters = letters
clone_letters = letters[:]
alias_letters.append("c")
print(letters, alias_letters, clone_letters)

# Asignaci√≥n m√∫ltiple
host, port, secure = "localhost", 8080, True
print(host, port, secure)

<class 'int'>
<class 'str'>
['a', 'b', 'c'] ['a', 'b', 'c'] ['a', 'b']
localhost 8080 True

### Ejercicio 10
Crea una variable `letters` con una lista de letras. C√≥piala en `alias_letters` y en `clone_letters` (usando slicing). A√±ade un elemento desde `alias_letters` y observa c√≥mo cambian las tres variables.

In [38]:
# Escribe aqu√≠ tu c√≥digo
letters = ['s', 'o', 'f']
alias_letters = letters
clone_letters = letters[:]
alias_letters.append('i')
print(letters, alias_letters, clone_letters)

['s', 'o', 'f', 'i'] ['s', 'o', 'f', 'i'] ['s', 'o', 'f']

## ‚úçÔ∏è Ejercicio final
Combina lo aprendido:
1. Crea una variable `student` con tu nombre.
2. Crea `age` con tu edad.
3. Usa `print()` para mostrar un mensaje que combine ambas.
4. Convierte `age` en cadena antes de concatenarla.

## 11 Raw strings en Python ‚Äî Ejercicios

En estos ejercicios practicaremos el uso de **raw strings** (`r"..."`) para evitar que Python interprete secuencias de escape (`\n`, `\t`, `\\`, etc.). 

Recuerda:
- Un *raw string* **no procesa** las secuencias de escape.
- No puede **terminar** con una barra invertida suelta (`\`).
- El delimitador de comillas **sigue cerrando** la cadena (usa el otro tipo de comillas o comillas triples si necesitas incluirlas dentro).

### Ejercicio 1 ‚Äî Comparar cadena normal vs raw string (rutas Windows)

Crea dos variables que representen la misma ruta de Windows:
1) `path_normal` como cadena normal escapando barras.
2) `path_raw` como raw string sin duplicar barras.

Imprime ambas y verifica que la salida es id√©ntica: `C:\Users\Python`.

In [ ]:
# Escribe aqu√≠ tu c√≥digo
# Crea path_normal (cadena normal) y path_raw (raw string) y mu√©stralas por pantalla

C:\Users\Python
C:\Users\Python

### Ejercicio 2 ‚Äî Secuencias de escape visibles

Crea dos cadenas que contengan el texto `\n` y `\t`:
- `escaped_text` como cadena normal para observar el salto de l√≠nea y tabulaci√≥n.
- `raw_text` como raw string para ver los caracteres `\` y `n`, `\` y `t` literalmente.

Imprime cada una y comenta la diferencia visual.

In [ ]:
# Escribe aqu√≠ tu soluci√≥n
# Muestra la diferencia entre una cadena normal y un raw string con \n y \t

### Ejercicio 3 ‚Äî Expresiones regulares (patrones con backslashes)
Sup√≥n que quieres un patr√≥n que coincida con un n√∫mero con prefijo `\d+` (d√≠gitos) y luego un literal de barra invertida `\` seguido de la letra `n` (queremos ver `\n` como dos caracteres, no salto de l√≠nea).

1) Define `pattern_normal` SIN raw string y observa cu√°ntos backslashes necesitas.
2) Define `pattern_raw` usando `r"..."` para simplificar.
3) Imprime ambos patrones para comprobar que representan la misma secuencia de caracteres.

In [ ]:
# Escribe aqu√≠ tu soluci√≥n
# Crea pattern_normal (cadena normal) y pattern_raw (raw string) que representen lo mismo y comp√°ralos

### Ejercicio 4 ‚Äî Error com√∫n: raw string terminando en backslash

Intenta crear una ruta que termine en barra invertida (por ejemplo, `C:\Temp\`). 
1) Explica por qu√© `r"C:\Temp\"` da error de sintaxis.
2) Muestra dos formas correctas de representarla:
   - Duplicando la √∫ltima barra en raw string: `r"C:\Temp\\"`
   - Usando cadena normal con escape adecuado: `"C:\\Temp\\"`
3) Imprime ambas y verifica que la salida final termina en `\`.

In [ ]:
# Escribe aqu√≠ tu soluci√≥n
# Demuestra el error (comentado) y las dos formas correctas, imprimiendo el resultado final

## Ejercicio 5 ‚Äî Comillas dentro de raw strings

Queremos incluir comillas dobles en la cadena. Recuerda que en un raw string el delimitador **sigue cerrando** la cadena.
1) Crea `text_ok_1` usando raw string con comillas simples como delimitador y comillas dobles dentro. r'texto "ho"'
2) Crea `text_ok_2` usando comillas triples raw `r"""..."""` e incluye comillas dobles y simples dentro. r""" texto "hola" fin"""
3) Explica por qu√© `r"She said: "hi""` NO es v√°lido como literal (no lo ejecutes).

In [ ]:
# Escribe aqu√≠ tu soluci√≥n
# Crea text_ok_1 y text_ok_2, impr√≠melos y a√±ade comentarios explicativos

 Hola, qu√© tal, "hola"

### Quiz final
- ¬øQu√© imprime `print(r"\n")`?  
- ¬øSe puede terminar un raw string con una barra invertida suelta? ¬øPor qu√©?  
- ¬øC√≥mo incluir comillas dobles dentro de un raw string delimitado por comillas dobles?

Responde aqu√≠